<template name="buying">

    <div class="wrapper">
        <h1>Achat</h1>

        <form id="buyingForm" class="form">
            <div><label for="firstname">Prénom : </label><input type="text" id="firstname"/></div>
            <div><label for="lastname">Nom : </label><input type="text" id="lastname"/></div>
            <div><label for="birthday">Date de naissance : </label><input type="date" id="birthday"/></div>
            <div><label for="mail">E-mail : </label><input type="text" id="mail"/></div>
            <div><label for="phone">Téléphone : </label><input type="text" id="phone"/></div>
            <div><label for="school">Ecole : </label><input type="text" id="school"/></div>
            <div><label for="sexe">Sexe : </label><input type="radio" name="sexe" value="Homme" id="homme"/><label for="homme">Homme</label><input type="radio" name="sexe" value="Femme" id="femme"/><label for="femme">Femme</label></div>

            <div><button type="submit" class="btn btn-primary">Acheter la place</button></div>
        </form>
    </div>
</template>