/**
 * checkpoint.css
 * ==============
 *
 * @author Mathieu Bour
 *
 * Design for checkpoint panel
 */
.centered-wrapper {
    background: url(/img/bg-club-1.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#btn-search {
    position: absolute;
    top: 40px;
    left: 40px;
    font-size: 18px;
    line-height: 26px;
}

#btn-cancel {
    position: absolute;
    top: 40px;
    right: 40px;
    font-size: 18px;
    line-height: 26px;
}

.main-logo {
    margin-bottom: 40px;
}
.main-input {
    display: block;
    width: 100%;
    margin-bottom: 30px;
    font-size: 30px;
    padding: 10px;
    border-radius: 2px;
    border: none;
    outline: none;
}

