@media (max-width: 768px) {
    body {
        font-size: 12px;
    }

    /*= Cover =*/
    /*======================================================*/
    .cover {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }
        .main-title {
            margin-bottom: 10px;
            font-size: 60px;
        }

        /*= Countdown =*/
        /*======================================================*/
        .countdown {
            padding: 0 20px;
            margin-bottom: 40px;
        }
            .countdown-square {
                padding: 0;
                background-color: rgba(255, 255, 255, 0.1);
                text-align: center;
                margin: 0 2px;
            }
            .countdown-value {
                display: block;
                color: #ffffff;
                font-size: 16px;
                line-height: 30px;
            }
            .countdown-label {
                display: block;
                padding-bottom: 8px;
                color: #ffffff;
                font-size: 10px;
                font-weight: 300;
                line-height: 20px;
                text-transform: uppercase;
            }
            .countdown-title{
                margin-top: 15px;
                color: #ffffff;
                font-size: 12px;
                font-weight: 200;
                text-transform: uppercase;
            }


    /*= Event =*/
    /*======================================================*/
}