<template name="header">
    <header class="header">
        <section class="logo-container">
            <h1 class="logo-text">
                <span class="toggle-sidebar visible-xs pull-left">
                    <i class="zmdi zmdi-menu"></i>
                </span>

                Gala d'hiver | A.V.L.E

                <span class="logout visible-xs pull-right">
                    <i class="zmdi zmdi-lock-outline"></i>
                </span>
            </h1>
        </section>

        <div class="nav-container">
            <ul class="nav pull-right">
                <li class="nav-item">
                    <a href="#" class="btn btn-danger logout">Déconnexion</a>
                </li>
            </ul>
        </div>
    </header>
</template>