<template name="header">
    <header class="header">
        <section class="logo-container">
            <h1 class="logo-text"><i class="zmdi zmdi-pages"></i> Gala d'hiver | A.V.L.E</h1>
        </section>

        <div class="nav-container">
            <ul class="nav">
                <li class="nav-item">
                    <form action="#" method="post">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Rechercher...">
                        </div>
                    </form>
                </li>
            </ul>
            <ul class="nav pull-right">
                <li class="nav-item">
                    <div class="nav-icon-container">
                        <i class="zmdi zmdi-notifications-active"></i>
                        <span class="badge"></span>
                    </div>
                </li>
                <li class="nav-item">
                    <div class="nav-icon-container">
                        <i class="zmdi zmdi-comment-list animated rubberBand infinite"></i>
                        <span class="badge"></span>
                    </div>
                </li>
                <li class="nav-item">
                    <a href="#" class="btn btn-danger">Déconnexion</a>
                </li>
                <ul class="nav navbar-nav navbar-right">
                    {{> loginButtons}}
                </ul>
            </ul>
        </div>
    </header>
</template>