<template name="sidebar">
    <aside class="sidebar">
        <div class="sidebar-profile">

            <div class="sidebar-profile-data">
                <div class="sidebar-profile-name">{{ currentUser.profile.firstname }} {{ currentUser.profile.lastname }}</div>
                <div class="sidebar-profile-title">
                    {{#if isAdmin}}
                        Administrateur
                    {{ else }}
                        Référent
                    {{/if}}
                </div>
            </div>
        </div>

        <div class="sidebar-nav">
            <ul>
                {{#if isAdmin }}
                    <li class="sidebar-nav-item"><a href="{{ pathFor 'dashboard' }}"><i class="zmdi zmdi-view-dashboard"></i> Tableau de bord</a></li>
                    <li class="sidebar-nav-item"><a href="{{ pathFor 'referentsList' }}"><i class="zmdi zmdi-accounts"></i> Gestion des référents</a></li>
                    <li class="sidebar-nav-item"><a href="{{ pathFor 'adminTicketsList' }}"><i class="zmdi zmdi-ticket-star"></i> Gestion des tickets</a></li>
                    <li class="sidebar-nav-item"><a href="{{ pathFor 'addTicket' }}"><i class="zmdi zmdi-file-plus"></i> Ajouter un ticket</a></li>
                    <li class="sidebar-nav-item"><a href="{{ pathFor 'newsletter' }}"><i class="zmdi zmdi-mail-send"></i> Newsletter</a></li>
                    <li class="sidebar-nav-item"><a href="{{ pathFor 'ticketing' }}"><i class="zmdi zmdi-lock"></i> Gestion de la billeterie</a></li>
                    <li class="sidebar-nav-item"><a href="{{ pathFor 'checkpoint' }}"><i class="zmdi zmdi-badge-check"></i> Poste de contrôle</a></li>
                {{ else }}
                    <li class="sidebar-nav-item"><a href="{{ pathFor 'referentTicketsList' }}"><i class="zmdi zmdi-ticket-star"></i> Gestion des tickets</a></li>
                {{/if}}
                {{#if isSuperAdmin }}
                    <li class="sidebar-nav-item"><a href="{{ pathFor 'createAdmin' }}"><i class="zmdi zmdi-account-add"></i> Ajouter un admin</a></li>
                    <li class="sidebar-nav-item"><a href="{{ pathFor 'exportTicketsList' }}"><i class="zmdi zmdi-archive"></i> Exporter la liste des tickets</a></li>
                {{/if}}
            </ul>
        </div>
    </aside>
</template>