<template name="dashboard">
    <p>Bonjour</p>

    <form id="addReferentForm" class="form">
        <div><label for="firstname">Prénom : </label><input type="text" id="firstname"/></div>
        <div><label for="lastname">Nom : </label><input type="text" id="lastname"/></div>
        <div><label for="mail">E-mail : </label><input type="text" id="mail"/></div>
        <div><label for="phone">Téléphone : </label><input type="text" id="phone"/></div>
        <div><label for="school">Ecole : </label><input type="text" id="school"/></div>

        <div><button type="submit" class="btn btn-primary">Ajouter le référent</button></div>
    </form>
</template>