<template name="referentsList">
    <p>ReferentsList</p>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Numéro de téléphone</th>
                <th>E-mail</th>
                <th>Etablissement</th>
            </tr>
        </thead>
        <tbody>
            {{#each referents}}
                <tr>
                    <td>{{ profile.firstname }}</td>
                    <td>{{ profile.lastname }}</td>
                    <td>{{ profile.phone }}</td>
                    <td>{{ emails.[0].address }}</td>
                    <td>{{ profile.school }}</td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</template>