<template name="cover">
    <div class="cover" id="cover">
        <div class="filter"></div>

        <div class="cover__content">

            <div class="logo-handler">
                <img src="//cdn.avle.fr/img/logo_2.png" alt="Logo A.V.L.E" class="logo">
            </div>

            {{#if success }}
                <div class="alert alert-dismissable alert-success" style="z-index: 999;">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <strong>Parfait !</strong> {{ success }}
                </div>
            {{/if}}

            <h1 class="main-title">Gala d 'hiver</h1>

            <p class="main-desc hidden-xs">Un évènement exclusif réservé pour seulement <strong>700</strong> lycéens et étudiants.</p>

            {{#if isOpened }}
                <div class="countdown">
                    <div class="row">
                        <div class="col-xs-3">
                            <div class="countdown-square">
                                <span class="countdown-value" id="countdown-days"></span>
                                <span class="countdown-label" id="countdown-days-label"></span>
                            </div>
                        </div>

                        <div class="col-xs-3">
                            <div class="countdown-square">
                                <span class="countdown-value" id="countdown-hours"></span>
                                <span class="countdown-label" id="countdown-hours-label"></span>
                            </div>
                        </div>

                        <div class="col-xs-3">
                            <div class="countdown-square">
                                <span class="countdown-value" id="countdown-minutes"></span>
                                <span class="countdown-label" id="countdown-minutes-label"></span>
                            </div>
                        </div>

                        <div class="col-xs-3">
                            <div class="countdown-square">
                                <span class="countdown-value" id="countdown-seconds"></span>
                                <span class="countdown-label" id="countdown-seconds-label"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <p class="countdown-title">Avant l'ouverture de la vente des billets</p>

                <a class="btn-ghost" id="goToEvent">Entrer</a>

            {{else}}
                <a class="btn-ghost" href="{{pathFor route="buy"}}">Réserver ma place</a>
            {{/if}}

        </div>
    </div>
</template>