<template name="event">
    <section class="event page" id="event">
        <div class="container">
            <div class="row">
                <div class="col-md-5 hidden-xs">
                    <div class="main-photo-handler">
                        <img src="/img/bg-logo-envers.png" alt="" class="main-photo"/>
                    </div>
                </div>
                <div class="col-md-7 col-xs-12">
                    <h2 class="lined">
                        <span>Venez fêter l'hiver avec nous !</span>
                    </h2>

                    <div class="media">
                        <div class="media-left hidden-xs">
                            <a href="#">
                                <img class="media-object" src="/img/king.png" alt="...">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Cette soirée, c'est votre soirée !</h4>
                            <p>Une soirée repensée dans un cadre renouvelé ; c’est ce que l’AVLE vous réserve avec ce Gala d’Hiver 2016 ! Venez profiter de ce moment exclusif le jeudi 18 février dès 22h00. Cette soirée se veut sélecte, c’est pourquoi nous vous invitons cordialement à venir sur votre trente-et-un.</p>
                        </div>
                    </div>

                    <div class="media">
                        <div class="media-body">
                            <h4 class="media-heading">Une offre promotionnelle à ne pas manquer !</h4>
                            <p>Tous les élèves de terminale qui conserveront leur billet du Gala d’Hiver se verront offrir une réduction sur le tarif de leur entrée au Bal de Promo d’été. Profitez-en !</p>
                        </div>
                        <div class="media-right hidden-xs">
                            <a href="#">
                                <img class="media-object" src="/img/suit.png" alt="...">
                            </a>
                        </div>
                    </div>

                    <div class="media">
                        <div class="media-left hidden-xs">
                            <a href="#">
                                <img class="media-object" src="/img/plate.png" alt="...">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Découvrez un nouveau type de soirée !</h4>
                            <p>L’AVLE met les bouchées doubles pour votre Gala : une collation salée et un bar de produits sucrés seront à votre disposition. Durant la première partie de soirée, un DJ du groupe Go Deep installera une ambiance house/deephouse ; un DJ résident de l’Envers Club diffusera ensuite des musiques électro : tout a été pensé pour vous.</p>
                        </div>
                    </div>

                    <div class="visible-xs">
                        <div class="row">
                            <div class="col-xs-4 text-center">
                                <img src="/img/king.png" alt="...">
                            </div>
                            <div class="col-xs-4 text-center">
                                <img src="/img/suit.png" alt="...">
                            </div>
                            <div class="col-xs-4 text-center">
                                <img src="/img/plate.png" alt="...">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>