<template name="event">
    <section class="event page">
        <div class="container">
            <div class="row">
                <div class="col-md-5 hidden-xs">
                    <div class="main-photo-handler">
                        <img src="//cdn.avle.fr/img/bg_logo_prive.png" alt="" class="main-photo"/>
                    </div>
                </div>
                <div class="col-md-7 col-xs-12">
                    <h2 class="lined">
                        <span>Venez fêter l'hiver avec nous !</span>
                    </h2>

                    <div class="media">
                        <div class="media-left hidden-xs">
                            <a href="#">
                                <img class="media-object" src="//cdn.avle.fr/img/king.png" alt="...">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Cette soirée, c'est votre soirée !</h4>
                            <p>Une soirée d'exception dans un cadre d'exception ; c'est ce que l'AVLE vous réserve avec le Gala d'Hiver 2015. Venez profiter de ce moment magique qui vous est exclusivement adressé le 21 décembre prochain ! Vous voulez être des vrais VIP et bénéficier d'un coupe-file et de belles surprises au cours de la soirée ? Alors n'hésitez pas à nous contacter au plus vite !</p>
                        </div>
                    </div>

                    <div class="media">
                        <div class="media-body">
                            <h4 class="media-heading">Une soirée chic et élégante, digne des plus beaux galas !</h4>
                            <p>L'AVLE vous invite donc cordialement à venir à cette soirée, qui se veut sélecte, sur votre <strong>trente-et-un</strong>. Pas de panique, le vestiaire vous est offert.</p>
                        </div>
                        <div class="media-right hidden-xs">
                            <a href="#">
                                <img class="media-object" src="//cdn.avle.fr/img/suit.png" alt="...">
                            </a>
                        </div>
                    </div>

                    <div class="media">
                        <div class="media-left hidden-xs">
                            <a href="#">
                                <img class="media-object" src="//cdn.avle.fr/img/plate.png" alt="...">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">On vous à réservé plein de surprises pour une soirée mémorable !</h4>
                            <p>Une délicieuse raclette, des fondues au chocolat pour les plus VIP d'entre vous et même Monsieur le Père-Noël vous attendent pour passer cette soirée exceptionnelle dans une ambiance festive, distinguée et conviviale ; le tout en musique, avec la présence de groupes locaux qui vont vous ravir ! </p>
                        </div>
                    </div>

                    <div class="show-xs">
                        <div class="row">
                            <div class="col-xs-4 text-center">
                                <img src="//cdn.avle.fr/img/king.png" alt="...">
                            </div>
                            <div class="col-xs-4 text-center">
                                <img src="//cdn.avle.fr/img/suit.png" alt="...">
                            </div>
                            <div class="col-xs-4 text-center">
                                <img src="//cdn.avle.fr/img/plate.png" alt="...">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>