<template name="notify">
    <section class="notify">
        <div class="container">
            <h2>Vous voulez être sur de ne pas rater la vente des places ?</h2>

            <div class="panel panel-inline">
                <div class="panel-body">
                    <form class="form-inline">
                        <div class="form-group">
                            <input type="text" class="form-control" id="" placeholder="example@avle.fr">
                        </div>
                        <button type="submit" class="btn btn-primary">Prévenez moi</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
</template>