<template name="ticket">
    <div class="ticket-preview">
        <div class="ticket-body">
            <img src="//cdn.avle-alca.fr/img/logo_2.png" alt="Logo AVLE" class="ticket-logo">

            <h2 class="ticket-title">Gala d 'hiver</h2>

            <p class="ticket-announcement">Rendez-vous le mardi 22 décembre à partir de</p>
            <p class="ticket-hour">20h</p>
        </div>
        <div class="ticket-foot">
            <div class="row">
                <div class="col-md-4">
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object" src="//cdn.avle-alca.fr/img/king.png" alt="King Icon" id="ticket-gender">
                            </a>
                        </div>
                        <div class="media-body">
                            <p>
                                Valable pour :<br/>
                                <span id="ticket-user-name"></span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object" src="//cdn.avle-alca.fr/img/plate.png" alt="King Icon">
                            </a>
                        </div>
                        <div class="media-body">
                            <p>Raclette et vestiaire</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object" src="//cdn.avle-alca.fr/img/suit.png" alt="King Icon">
                            </a>
                        </div>
                        <div class="media-body">
                            <p>Dress code : sur votre 31</p>
                        </div>
                    </div>
                </div>

            </div>

            <h3 class="ticket-info">Prix du ticket: 10€</h3>

            <h3 class="ticket-info">
                Code invité : Specimen
            </h3>

            <div class="row">
                <div class="col-md-8">
                    <h3 class="ticket-address-heading">Plan d'accès</h3>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <p class="ticket-address">
                        <strong>Le Privé</strong><br/>
                        106 Zone de la Saussaie,<br/>
                        57160 Moulins-lès-Metz
                    </p>

                    <div class="row">
                        <div class="col-md-6">

                        </div>
                        <div class="col-md-6">

                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="ticket-barcode" id="ticket-barcode"></div>
                </div>
            </div>
        </div>
    </div>
</template>