<template name="event">
    <section class="event">
        <div class="container">
            <h2 class="lined">
                <span>Venez fêter l'hiver avec nous !</span>
            </h2>

            <div class="row">
                <div class="col-md-4">
                    <img src="//placehold.it/360" alt=""/>
                </div>

                <div class="col-md-8">
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object" src="img/winter-icon-2.png" alt="...">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Cette soirée, c'est votre soirée ! Faites de vous de vrais VIP</h4>
                            <p>L’hiver, à Metz, c’est rude… C’est pourquoi on donne l’occasion aux messins de mettre le feu dans leur ville, le 22/12 au Privé ! L’AVLE présente... le Gala d’hiver !
                                Au programme : Arrivée des invités, sculpteur de glace à l’entrée ?, groupes sur scène ?, début de la fondue jusque 23h30, grosses folies jusque 5h</p>
                        </div>
                    </div>

                    <div class="media">
                        <div class="media-body">
                            <h4 class="media-heading">Cette soirée, c'est votre soirée ! Faites de vous de vrais VIP</h4>
                            <p>L’hiver, à Metz, c’est rude… C’est pourquoi on donne l’occasion aux messins de mettre le feu dans leur ville, le 22/12 au Privé ! L’AVLE présente... le Gala d’hiver !
                                Au programme : Arrivée des invités, sculpteur de glace à l’entrée ?, groupes sur scène ?, début de la fondue jusque 23h30, grosses folies jusque 5h</p>
                        </div>
                        <div class="media-right">
                            <a href="#">
                                <img class="media-object" src="img/christmas-tree-icon.png" alt="...">
                            </a>
                        </div>
                    </div>

                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object" src="img/crown-icon.png" alt="...">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Cette soirée, c'est votre soirée ! Faites de vous de vrais VIP</h4>
                            <p>L’hiver, à Metz, c’est rude… C’est pourquoi on donne l’occasion aux messins de mettre le feu dans leur ville, le 22/12 au Privé ! L’AVLE présente... le Gala d’hiver !
                                Au programme : Arrivée des invités, sculpteur de glace à l’entrée ?, groupes sur scène ?, début de la fondue jusque 23h30, grosses folies jusque 5h</p>
                        </div>
                    </div>
                </div>
            </div>

            <section class="text-center">
                <h3>Un nombre de place limité pour un évènement unique !</h3>
                <p>Pour que vous soyez les acteurs <strong>privilégiés</strong> de cet évènement, le nombre de place sera limité. 600 places à réserver, en ligne avec possibilité de payer directement sur le site ou auprès de nos référents. Prix de la place: 10€, vestiaire et raclette compris.</p>

                <button type="button" class="btn btn-primary btn-lg" disabled="disabled">Réservation des place disponible {{countdown}}</button>
            </section>
        </div>
    </section>
</template>