/**
 * genetal.css
 * ==============
 * Authors: Mathieu & Ladislas Dellinger
 */

.lined {
    position: relative;
    text-align: center;
}
.lined > span {
    position: relative;
    z-index: 1;
    display: inline-block;
    padding: 0 15px;
    background-color: white;
}
.lined:before {
    content: "";
    position: absolute;
    z-index: 0;
    top: 0.5em;
    left: 0;
    right: 0;
    display: block;
    height: 1px;
    background-color: #222222;
}